
@{
    ViewBag.Title = "BookDetail";
}
<div class="product-container">
    <div class="product-detail">
        <div class="book-pic-container">
            <img src="~/Content/Images/cover1.png" alt="" class="book-pic" />
        </div>
        <div class="book-inf">
            <h3> Tittle </h3>
            <h4> <span> 50$</span>  </h4>
            <h5>Dù Pháp sẽ cất nhiều trụ cột nhưng giới chuyên môn vẫn đánh giá cao họ hơn rất nhiều so với Tunisia. Thị trường cá cược châu Á ra kèo Pháp chấp Tunisia 1 trái. Máy tính đánh giá khả năng chiến thắng của Pháp cao gấp 2,2 lần so với Tunisia.  </h5>
            <div class="form-outline" style="width: 10rem;">
                <form action="/" method="post">
                    <h4>Quantity</h4>
                    <input value="1" type="number" id="typeNumber" class="form-control" />
                    <button type="submit" class="btn btn-primary btn-block btn-add-cart">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>

