
@{
    ViewBag.Title = "Cart";
}
<div class="banner">
    <div class="maplink text-center">
        <div class="shopname">FPT Book Store</div>
        <div>
            @Html.ActionLink("Home", "Index", "Home") >>>
            @Html.ActionLink("Cart", "Cart", "Shop")
        </div>
    </div>
</div>
<div class="cart row">
    <div class="all-item col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Book</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="book-cart">
                        <img src="~/Content/Images/cover1.png" alt="" class="product-image col" />
                        <p class="title col">Card title</p>
                    </td>
                    <td>50 <span>$</span></td>
                    <td>1</td>
                    <td>50 <span>$</span></td>
                </tr>
                <tr>
                    <td class="book-cart">
                        <img src="~/Content/Images/cover1.png" alt="" class="product-image col" />
                        <p class="title col">Card title</p>
                    </td>
                    <td>50 <span>$</span></td>
                    <td>1</td>
                    <td>50 <span>$</span></td>
                </tr>
                <tr>
                    <td class="book-cart">
                        <img src="~/Content/Images/cover1.png" alt="" class="product-image col" />
                        <p class="title col">Card title</p>
                    </td>
                    <td>50 <span>$</span></td>
                    <td>1</td>
                    <td>50 <span>$</span></td>
                </tr>
                <tr>
                    <td class="book-cart">
                        <img src="~/Content/Images/cover1.png" alt="" class="product-image col" />
                        <p class="title col">Card title</p>
                    </td>
                    <td>50 <span>$</span></td>
                    <td>1</td>
                    <td>50 <span>$</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="total-bill col ">
        <div class="text-center">
            <h1>
                Cart total: 50$
            </h1>
        </div>
        <form class="checkout">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Phone</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Check out</button>
        </form>
    </div>
</div>
