@model FPTBook.Models.ViewModels.ManageBookViewModel
@{
    ViewBag.Title = "Book Browser";
}
<div class="banner">
    <div class="maplink text-center">
        <div class="shopname">FPT Book Store</div>
        <div>
            @Html.ActionLink("Home", "Index", "Home") >>>
            @Html.ActionLink("Shop", "Index", "Shop")
        </div>
    </div>
</div>
<div class="filter">
    <h4 class="category">Category</h4>
    <select class="ui search dropdown">
        @foreach (var item in Model.Categories)
        {
            <option value="@item.Slug">@item.Name</option>
        }
    </select>
</div>
<div class="best-seller-container ">
    <div class="card-container row container ">
        <div class="card col">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>

    </div>
</div>
