@model List<FPTBook.Models.Book>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddToCart").click(function (e) {
            e.preventDefault();
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", {"id": recordToAdd },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        $('#cart-count').text(data);
                    });
            }
        });
    });
</script>

<div class="coverpage ">
    <div class="logo">
        <div class="logo_name">
            FPT
        </div>
        <div class="logo_name">
            BOOKSTORE
        </div>
        @Html.ActionLink("Shop now >>>", "Index", "Shop")
    </div>
    <div class="coverimage">
        <img src="~/Content/Images/cover1.png" alt="Book Image" />
    </div>
</div>

<div class="best-seller-container container">
    <div class="text-center">
        <h2>
            BEST SELLER
        </h2>
    </div>
    <div class="card-container">
        <div class="row card-row">
            @foreach (var book in Model)
            {
                <div class="card col-md-2">
                    <img src="~\..\..\Images\@book.ImagePath" alt="@book.Slug" class="product-image" />
                    <p class="title">@book.Title</p>
                    <p>$@book.Price</p>
                    <div>
                        <a href="#" class="AddToCart buttonover btn btn-primary" data-id="@book.Id">
                            Buy
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

