@{ ViewBag.Title = "Home Page"; }

<div class="coverpage ">
    <div class="logo">
        <div class="logo_name">
            FPT
        </div>
        <div class="logo_name">
            BOOKSTORE
        </div>
        @Html.ActionLink("Shop now >>>", "Index", "Shop")
    </div>
    <div class="coverimage">
        <img src="~/Content/Images/cover1.png" alt="Book Image" />
    </div>
</div>

<div class="best-seller-container">
    <div class="text-center">
        <h2>
            BEST SELLER
        </h2>
    </div>
    <div class="card-container row container">
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
        <div class="card col-sm">
            <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
            <p class="title">Card title</p>
            <div class="buttonover btn btn-primary">Buy</div>
        </div>
    </div>
</div>

