@model List<FPTBook.Models.Book>
@{ ViewBag.Title = "Home Page"; }

<div class="coverpage ">
    <div class="logo">
        <div class="logo_name">
            FPT
        </div>
        <div class="logo_name">
            BOOKSTORE
        </div>
        @Html.ActionLink("Shop now >>>", "Index", "Shop")
    </div>
    <div class="coverimage">
        <img src="~/Content/Images/cover1.png" alt="Book Image" />
    </div>
</div>

<div class="best-seller-container container">
    <div class="text-center">
        <h2>
            BEST SELLER
        </h2>
    </div>
    <div class="card-container">
        @*@foreach (var book in Model)
        {
            <div class="card col">
                <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
                <p class="title">@book.Title</p>
                <p>@book.Price</p>
                <div class="buttonover btn btn-primary">Buy</div>
            </div> 
        }*@
            <div class="row card-row">
                @for (int i = 0; i < 8; i++)
                {
                    <div class="card col-md-2">
                        <img src="~/Content/Images/cover1.png" alt="" class="product-image" />
                        <p class="title">OK</p>
                        <p>5$</p>
                        <div class="buttonover btn btn-primary">Buy</div>
                    </div>
                }
            </div>
    </div>
</div>

